.presentation {
  display: flex;
  padding-top: 120px;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 40px;
  align-items: center;

  &__title {
    font-size: 70px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;
  }

  &__image {
    width: 450px;
    min-height: 450px;
    background-image: url('../../../../public/images/main.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__buttons {
    display: flex;
    gap: 20px;
    margin-top: 66px;
  }

  &__minititle {
    margin: 20px 0;
  }

  &__text {
    margin-top: 13px;
  }
}
