@import '../../../../public/utils/mixins.scss';

.presentation {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 120px;
  background-image: url('../../../../public/images/main.png');
  background-repeat: no-repeat;
  background-position: right;

  @include tablet {
    padding: 100px 30px 200px;
  }

  @include desktop {
    background-image: url('../../../../public/images/main-mini.png');
  }
  &__title {
    font-size: 70px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.1px;

    @include tablet {
      font-size: 60px;
    }
    @include phone {
      font-size: 35px;
    }
  }

  &__image {
    width: 450px;
    min-height: 450px;
    background-image: url('../../../../public/images/main.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 66px;

    @include phone {
      width: 250px;
    }
  }

  &__minititle {
    margin: 20px 0;
  }

  &__text {
    margin-top: 13px;

    @include desktop {
      font-size: 16px;
    }
  }
}
