@mixin phone-bg {
  @include phone {
    &:before {
      background-image: url('../images/shinebig.png');
      background-size: cover;
    }
  }
}

@mixin tablet-width {
  @include tablet {
    width: calc(100% - 60px);
  }
}

//* MEDIA

@mixin phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin desktopXL {
  @media screen and (max-width: 1280px) {
    @content;
  }
}
