body {
    margin: 0;
    background: #000;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
}

h1,h2,h3,p,ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.app__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../public/images/headerGradient.png");
        background-repeat: no-repeat;
        z-index: -1;
    }
}
.link {
    text-decoration: none;
    color: inherit;
    transition: opacity .4s;
    &:hover {
        opacity: .6;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 75px;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid #26A9E0;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.button_blue {
    background: linear-gradient(270deg, #004AAD 0%, #26A9E0 99.99%, #26A9E0 100%);
    border: none;
}