@import '../public/utils/mixins.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #fff;

  @include tablet {
    font-size: 14px;
  }
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;

  @include tablet {
    font-size: 28px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;

  @include tablet {
  }
}

.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover {
    border: 3px solid #26a9e0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 75px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid #26a9e0;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.button_blue {
  background: linear-gradient(270deg, #004aad 0%, #26a9e0 99.99%, #26a9e0 100%);
  border: none;
  transition: opacity 0.2s;
  &:hover {
    border: none;
    opacity: 0.8;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
  outline: 3px solid #26a9e0;
}
